 '''
#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. While creating a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the third most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out '''

In [2]:
import pandas as pd
import numpy as np
import csvkit as cs
import mysql.connector as con
import pymongo
import json

In [31]:
 #reading data in sql after creating dataabase turtle1 and writing table name hola while writing this code
    ! csvsql --db mysql+mysqlconnector://root:littlewhale@localhost:3306/turtle1 --tables hola --insert fitbit.csv

C:\Users\lenovo\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x149ccaf1e80>
C:\Users\lenovo\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\lenovo\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\lenovo\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [5]:

json_fitbit = df.to_json("Fitbit.json")  # converting csv to json file
df_json = pd.read_json("Fitbit.json")
print(df_json)
# connecting to mongodb
 
 
client = pymongo.MongoClient("mongodb+srv://lenovo123:qwerty123@cluster1.kphlhr1.mongodb.net/?retryWrites=true&w=majority")
db = client.test

print(db)


database = client['FitBit']    # creating database obj.
collection = database['FitBit_data'] # creating collection  
# passing json file as it is to mongodb server
with open('Fitbit.json') as file:
    fitbit_file = json.load(file)
    collection.insert_many([fitbit_file]) # passing json fitbit object.

             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0    1503960366    3/25/2016       11004       7.110000         7.110000
1    1503960366    3/26/2016       17609      11.550000        11.550000
2    1503960366    3/27/2016       12736       8.530000         8.530000
3    1503960366    3/28/2016       13231       8.930000         8.930000
4    1503960366    3/29/2016       12041       7.850000         7.850000
..          ...          ...         ...            ...              ...
452  8877689391     4/8/2016       23014      20.389999        20.389999
453  8877689391     4/9/2016       16470       8.070000         8.070000
454  8877689391    4/10/2016       28497      27.530001        27.530001
455  8877689391    4/11/2016       10622       8.060000         8.060000
456  8877689391    4/12/2016        2350       1.780000         1.780000

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                         0.0                2.57                      0.46
1                         0.0                6.92                      0.73
2                         0.0                4.66                      0.16
3                         0.0                3.19                      0.79
4                         0.0                2.16                      1.09
..                        ...                 ...                       ...
452                       0.0               11.10                      0.63
453                       0.0                0.00                      0.02
454                       0.0               21.92                      1.12
455                       0.0                1.47                      0.15
456                       0.0                0.00                      0.00

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                   4.07                     0.00                 33
1                   3.91                     0.00                 89
2                   3.71                     0.00                 56
3                   4.95                     0.00                 39
4                   4.61                     0.00                 28
..                   ...                      ...                ...
452                 8.62                     0.00                 70
453                 8.02                     0.00                 90
454                 4.46                     0.00                128
455                 6.37                     0.01                 18
456                 1.78                     0.00                  0

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                     12                   205               804      1819
1                     17                   274               588      2154
2                      5                   268               605      1944
3                     20                   224              1080      1932
4                     28                   243               763      1886
..                   ...                   ...               ...       ...
452                   29                   359               982      4196
453                    9                   289              1052      3841
454                   46                   211              1055      4526
455                    7                   225              1190      2820
456                    0                    58               531       938

[457 rows x 15 columns]
Database(MongoClient(host=['ac-cxevogr-shard-00-00.kphlhr1.mongodb.net:27017', 'ac-cxevogr-shard-00-01.kphlhr1.mongodb.net:27017', 'ac-cxevogr-shard-00-02.kphlhr1.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-rt3wpi-shard-0', tls=True), 'test')

In [4]:
df=pd.read_csv(r"D:\fitbit.csv")

In [44]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [49]:
cold=collection.find()
for i in cold:
    print(i)

OperationFailure: bad auth : Authentication failed., full error: {'ok': 0, 'errmsg': 'bad auth : Authentication failed.', 'code': 8000, 'codeName': 'AtlasError'}

In [50]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [51]:
#oneway to do
#df.ActivityDate = df.ActivityDate.astype('datetime64') 
#antohter way
df.ActivityDate=pd.to_datetime(df.ActivityDate)

In [53]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [57]:
#find out the number of the unique id
len(df['Id'].unique())

35

In [61]:
# most active id in the whole dataset
df[df['VeryActiveMinutes']==max(df['VeryActiveMinutes'])]['Id']

304    5577150313
Name: Id, dtype: int64

In [63]:
# find out number of id who have not logged in to their id's
# For ID's with LoggedActivitiesDistance is not 0 is given by
loggedactivity_df = (df[df['LoggedActivitiesDistance']!=0.0]['Id'].unique())
len(loggedactivity_df)

6

In [64]:
#Hence we have 6 unique Id's who have logged activities details once atleast.
#So total unique ID's who have never logged details is given by 35- 6 = 29
#We have 29 ID's who have never logged their details.

In [73]:
 #Task 7 - Find out who is the laziest person id that we have in dataset 
    df.groupby('Id')['SedentaryMinutes'].sum().sort_values(ascending = False).head(3)

Id
4057192912    43458
4020332650    34663
1624580081    24288
Name: SedentaryMinutes, dtype: int64

In [ ]:
# ID = 4057192912 , have the most sedentary minutes (43458 mins), hence he is the most laziest.

In [74]:
#Task 8 - Explore over an internet that how much calories burn is required for a healthy person 
#         and find out how many healthy person we have in our dataset 

# 1800 calorie per day is expected to be burnt for any healthy person. Assumption, if calorie burnt per day > 1800, consider healthy.
# A new column healthIndex to be created with 1 if calorie spent > 1800, 0 if less than 1800
def caloriecheck(a):
    if a>=1800:
        return 1
    else:
        return 0
df['HealthyDay'] = df['Calories'].apply(caloriecheck)
df[['Id','HealthyDay']]

             Id  HealthyDay
0    1503960366           1
1    1503960366           1
2    1503960366           1
3    1503960366           1
4    1503960366           1
..          ...         ...
452  8877689391           1
453  8877689391           1
454  8877689391           1
455  8877689391           1
456  8877689391           0

[457 rows x 2 columns]

In [75]:
health_df = df.groupby(['Id'])[['HealthyDay','Calories']].sum() 
# sum of total calories in month
health_df.head()

            HealthyDay  Calories
Id
1503960366          16     34128
1624580081           0     25705
1644430081           9     29164
1844505072           7     19391
1927972279          11     27048

In [78]:
 health_df['LoggedDays']=df.groupby('Id')['ActivityDate'].count().sort_values(ascending = False)
#create a new column to compute total number of logged days per ID
health_df['AvgCalorie'] = health_df['Calories']/health_df['LoggedDays'] 
# Create a new column to find out average of calorie burnt
health_df['AvgHealthIndex'] = health_df['HealthyDay']/health_df['LoggedDays'] 
# Create a new column to find out average of health index, here we divide healthy days by logged days.

In [79]:
health_df.sort_values(by=['AvgCalorie','HealthyDay'],ascending=False).head()

            HealthyDay  Calories  LoggedDays   AvgCalorie  AvgHealthIndex
Id
8877689391          11     41414          12  3451.166667        0.916667
8378563200          12     40274          12  3356.166667        1.000000
5577150313          10     36303          11  3300.272727        0.909091
4020332650          31     98412          32  3075.375000        0.968750
1644430081           9     29164          10  2916.400000        0.900000

In [80]:
health_df.describe()

       HealthyDay      Calories  LoggedDays   AvgCalorie  AvgHealthIndex
count   35.000000     35.000000   35.000000    35.000000       35.000000
mean     9.314286  28588.000000   13.057143  2184.637454        0.731666
std      5.518799  15462.554815    5.351981   584.565939        0.306550
min      0.000000  14442.000000    8.000000  1352.894737        0.000000
25%      7.000000  19260.500000   10.500000  1799.355263        0.625000
50%      9.000000  24884.000000   12.000000  2089.214286        0.888889
75%     11.000000  31571.000000   12.000000  2551.208333        0.916667
max     31.000000  98412.000000   32.000000  3451.166667        1.000000

In [81]:
#now we clasify health status if 
def healthstatus(a,b):
    if ((a > 1800.0) or (b >0.8)):
        return 'Healthy'
    else:
        return 'Unhealthy'
health_df['healthStatus'] =health_df.apply(lambda health_df :healthstatus(health_df['AvgCalorie'],health_df['AvgHealthIndex']),axis =1)
health_df.head()

,HealthyDay,Calories,LoggedDays,AvgCalorie,AvgHealthIndex,healthStatus
Id,,,,,,
1503960366,16,34128,19,1796.210526,0.842105,Healthy
1624580081,0,25705,19,1352.894737,0.000000,Unhealthy
1644430081,9,29164,10,2916.400000,0.900000,Healthy
1844505072,7,19391,12,1615.916667,0.583333,Unhealthy
1927972279,11,27048,12,2254.000000,0.916667,Healthy

In [82]:
healthy_count = health_df[health_df['healthStatus'] == 'Healthy']
healthy_count.columns
 
len(healthy_count.index) # TOTAL NUMBER OF HEALTHY PERSON( ID'S ) IN OUR DATASET = 28

28

In [83]:
health_df.sort_values(by=['LoggedDays'],ascending=False).head()

,HealthyDay,Calories,LoggedDays,AvgCalorie,AvgHealthIndex,healthStatus
Id,,,,,,
4057192912,13,60913,32,1903.531250,0.406250,Healthy
4020332650,31,98412,32,3075.375000,0.968750,Healthy
1503960366,16,34128,19,1796.210526,0.842105,Healthy
1624580081,0,25705,19,1352.894737,0.000000,Unhealthy
2347167796,14,30320,15,2021.333333,0.933333,Healthy

In [84]:
#Task 9 How many person are not a regular person with respect to activity try to find out those 
health_df.reset_index(inplace= True)
def ActivityStatus(a):  # define a fuction to determine activity status if logged days is greater than = to 14 as 'Regular'
    if a >= 14 :
        return 'Regular'
    else:
        return 'Irregular'
health_df['ActivityStatus']=health_df['LoggedDays'].apply(ActivityStatus)
#added a column 
health_df.head()

,Id,HealthyDay,Calories,LoggedDays,AvgCalorie,AvgHealthIndex,healthStatus,ActivityStatus
0,1503960366,16,34128,19,1796.210526,0.842105,Healthy,Regular
1,1624580081,0,25705,19,1352.894737,0.000000,Unhealthy,Regular
2,1644430081,9,29164,10,2916.400000,0.900000,Healthy,Irregular
3,1844505072,7,19391,12,1615.916667,0.583333,Unhealthy,Irregular
4,1927972279,11,27048,12,2254.000000,0.916667,Healthy,Irregular

In [85]:
health_df[health_df['ActivityStatus'] == 'Regular'][['Id','LoggedDays','ActivityStatus']].sort_values(by='LoggedDays',ascending= False)

            Id  LoggedDays ActivityStatus
13  4020332650          32        Regular
14  4057192912          32        Regular
0   1503960366          19        Regular
1   1624580081          19        Regular
8   2347167796          15        Regular
17  4445114986          15        Regular
19  4702921684          15        Regular
26  6962181067          14        Regular

In [87]:
#above ID's are regular
#Task 10 Who is the third most active person in this dataset find out those in pandas and in sql both . 
df.groupby('Id')['TotalSteps'].sum().sort_values(ascending=False).head(3)

Id
1503960366    221170
8877689391    209005
4020332650    184851
Name: TotalSteps, dtype: int64

In [88]:
# ID 4020332650  is the third most active person in dataset.
#Task 11 Who is the 5th most laziest person avilable in dataset find it out .
df.groupby('Id')['TotalSteps'].sum().sort_values(ascending=False).tail(5)

Id
8583815059    24364
6290855005    16181
6391747486    12032
2891001357     6189
4388161847        0
Name: TotalSteps, dtype: int64

In [89]:
# ID 8583815059   is the 5th most laziest person.
#Task 12 What is a total acumulative calories burn for a person find out
df.groupby(['Id'])[['Calories']].sum().sort_values(by='Calories',ascending = False)
# sum of total calories in month

            Calories
Id
4020332650     98412
4057192912     60913
4702921684     42322
8877689391     41414
8378563200     40274
5577150313     36303
1503960366     34128
8053475328     31825
4445114986     31617
7007744171     31525
2347167796     30320
2022484408     29704
6962181067     29249
1644430081     29164
1927972279     27048
7086361926     26124
1624580081     25705
8792009665     24884
6775888955     24523
4319703577     23931
4558609924     21962
6290855005     21656
5553957443     21630
6117666160     20993
2873212765     20349
1844505072     19391
8583815059     19130
3372868164     18603
2320127002     18385
2891001357     18187
8253242879     17556
3977333714     16777
2026352035     16266
6391747486     15868
4388161847     14442

In [90]:
#alternate way to do above question

In [91]:
#8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset abs

def Burn_calr(no_of_calry):
    if no_of_calry < (2200*7):
        return "Unhealthy"
    elif no_of_calry > (2200*7):
        return "Healthy"

df.groupby('Id')['Calories'].sum().apply(Burn_calr).value_counts()

Healthy      34
Unhealthy     1
Name: Calories, dtype: int64

In [92]:
#9. how many person are not a regular person with respect to activity try to find out those 
df[df['TotalSteps'] == 0 ]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,HealthyDay,LoggedDays
51,1844505072,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,669,1347,0,NaN
52,1844505072,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347,0,NaN
59,1844505072,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,426,399,0,NaN
96,2320127002,2016-04-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324,0,NaN
97,2320127002,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,8253242879,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,0,NaN
403,8253242879,2016-04-03,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,0,NaN
404,8253242879,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,0,NaN
405,8253242879,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,0,NaN
412,8253242879,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0,0,NaN

In [93]:
#10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending=False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

In [98]:
 #third largest in SQL
import mysql.connector as con

mydb = con.connect(host= 'localhost', user = 'root', passwd = 'littlewhale')
cursor = mydb.cursor()
db = "use turtle1"
cursor.execute(db)
query = """select * from (select Id, VeryActiveMinutes, dense_rank() over(order by VeryActiveMinutes desc)r from hola) as a 
where r=3"""
cursor.execute(query)
select_record = cursor.fetchall()
select_ID = select_record[0][0]
Select_VeryActMin = select_record[0][1]
Select_Rank = select_record[0][2]
print('Rank :' ,Select_Rank)

Rank : 3

In [99]:
#11 . who is the 5th most laziest person avilable in dataset find it out 
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values()[4:5]

Id
6117666160    5
Name: VeryActiveMinutes, dtype: int64

In [100]:
#12 . what is a totla acumulative calories burn for a person find out 
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64